@page
@model ParkNet.Pages.Floors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Floor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="layoutFile">Importar layout (.txt)</label>
                <input type="file" name="layoutFile" class="form-control" required />
            </div>

            <div class="form-group">
                <label for="parkingLotId">Parque de estacionamento</label>
                <select asp-for="ParkingLotId" asp-items="Model.ParkingLotList" class="form-control"></select>
            </div>

            <button type="submit" class="btn btn-success">Importar</button>
        </form> 
        @* <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*
            <div class="form-group">
                <label asp-for="Floor.Name" class="control-label"></label>
                <input asp-for="Floor.Name" class="form-control" />
                <span asp-validation-for="Floor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floor.Order" class="control-label"></label>
                <input asp-for="Floor.Order" class="form-control" />
                <span asp-validation-for="Floor.Order" class="text-danger"></span>
            </div> *
            <div class="form-group">
                <label asp-for="Floor.LayoutRaw" class="control-label"></label>
                <input asp-for="Floor.LayoutRaw" class="form-control" />
                <span asp-validation-for="Floor.LayoutRaw" class="text-danger"></span>
            </div>           
            @* <div class="form-group">
                <label asp-for="Floor.ParkingLotId" class="control-label"></label>
                <select asp-for="Floor.ParkingLotId" class="form-control" asp-items="ViewBag.ParkingLotId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>  *@
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
